.task-list {
    width: 334px;
    height: 334px;
    gap: 0px;
    opacity: 0px;
    flex: 1;
    min-width: 300px;
    background-color:rgba(255, 255, 255, 1);
    padding: 20px;
    box-shadow: 0px 2px 17.1px 0px rgba(0, 0, 0, 0.08);

  }
  
  .task-items {
    margin-top: 10px;
    border-radius: 15px;
    padding:7px 11px 7px 11px;
    border:0px 0px 1px 0px;
  }

  

  span{
    font-weight: bolder;
  }


  .grey{
    color:rgba(0, 0, 0, 0.5)
  }
  
  .task-item {
    background-color: rgba(255, 184, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  